/*loading mask*/
#app-loading-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000; }

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s ease-in-out infinite;
  animation: spin 2s ease-in-out infinite; }

.loading-tag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.fadeIn {
  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  /* Firefox */
  -webkit-animation: fadein 0.5s;
  /* Safari and Chrome */
  -o-animation: fadein 0.5s;
  /* Opera */ }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.blurIn {
  animation: blurIn 0.5s;
  -moz-animation: blurIn 0.5s;
  /* Firefox */
  -webkit-animation: blurIn 0.5s;
  /* Safari and Chrome */
  -o-animation: blurIn 0.5s;
  /* Opera */ }

@keyframes blurIn {
  from {
    -webkit-filter: blur(4px);
    filter: blur(4px); }
  to {
    -webkit-filter: 0;
    filter: 0; } }

@-moz-keyframes blurIn {
  /* Firefox */
  from {
    -webkit-filter: blur(4px);
    filter: blur(4px); }
  to {
    -webkit-filter: 0;
    filter: 0; } }

@-webkit-keyframes blurIn {
  /* Safari and Chrome */
  from {
    -webkit-filter: blur(4px);
    filter: blur(4px); }
  to {
    -webkit-filter: 0;
    filter: 0; } }

@-o-keyframes blurIn {
  /* Opera */
  from {
    -webkit-filter: blur(4px);
    filter: blur(4px); }
  to {
    -webkit-filter: 0;
    filter: 0; } }

body {
  margin: 0;
  font-family: Roboto, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #3498db;
  font-weight: 300; }

app {
  display: block; }

bar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 7em;
  background-color: #1c1c1f;
  padding: 0 1em; }
  bar .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    bar .container .logo {
      position: relative;
      width: 100%;
      top: 0;
      left: 0; }
      bar .container .logo:hover {
        cursor: pointer; }
      bar .container .logo img {
        width: 100%;
        height: auto;
        top: 0;
        left: 0; }
    bar .container .icon {
      position: relative;
      width: 80%;
      height: 5.6em;
      margin: 1em auto;
      opacity: .5; }
      bar .container .icon:hover {
        cursor: pointer;
        opacity: 1; }
      bar .container .icon.active {
        opacity: 1; }
      bar .container .icon img {
        position: relative;
        display: inline-block;
        width: auto;
        height: 80%;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
        -ms-transform: translate(-50%, 0);
        /* IE 9 */
        transform: translate(-50%, 0);
        /* IE 10, Fx 16+, Op 12.1+ */
        -o-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0); }
      bar .container .icon p {
        color: white;
        position: relative;
        height: 20%;
        margin: 0;
        width: 100%;
        text-align: center; }

.body-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 9em;
  height: 100%; }

.home {
  position: relative;
  width: 100%;
  height: 100%; }
  .home .image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/brian-blurred.jpg") no-repeat fixed center;
    background-size: cover; }

.designs .intro {
  width: 100%;
  height: 20em;
  background: url("../images/design-intro.jpg") no-repeat scroll right 0; }

.designs .container {
  padding: 3em 1em 0 1em;
  box-shadow: 0 -0.2em 0.7em;
  -webkit-box-shadow: 0 -0.2em 0.7em;
  -moz-box-shadow: 0 -0.2em 0.7em; }

.designs .title {
  margin: 0 0 1em 0; }

.fashion .seasons {
  min-width: 15em;
  position: relative;
  float: left;
  width: 20%;
  box-shadow: 4px 0 2px 1px #d9d9d9;
  -webkit-box-shadow: 4px 0 2px 1px #d9d9d9;
  -moz-box-shadow: 4px 0 2px 1px #d9d9d9;
  height: 100%;
  overflow: scroll; }
  .fashion .seasons .header {
    position: relative;
    padding-left: .5em;
    height: 2em;
    background-color: #ebebeb; }
    .fashion .seasons .header h4 {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: translate(0, -50%);
      /* IE 9 */
      transform: translate(0, -50%);
      /* IE 10, Fx 16+, Op 12.1+ */
      -o-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%); }
  .fashion .seasons .season {
    padding-left: .5em;
    height: 3em;
    position: relative; }
    .fashion .seasons .season h3 {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: translate(0, -50%);
      /* IE 9 */
      transform: translate(0, -50%);
      /* IE 10, Fx 16+, Op 12.1+ */
      -o-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      position: relative; }
    .fashion .seasons .season:hover {
      cursor: pointer; }
    .fashion .seasons .season.active {
      animation: fadein 0.2s;
      -moz-animation: fadein 0.2s;
      /* Firefox */
      -webkit-animation: fadein 0.2s;
      /* Safari and Chrome */
      -o-animation: fadein 0.2s;
      /* Opera */
      background-color: #3498db; }
      .fashion .seasons .season.active h3 {
        color: white; }
  .fashion .seasons .season:after {
    content: '';
    width: 50%;
    height: 1px;
    background: gray;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto; }

.fashion .styles {
  padding-left: 5px;
  float: left;
  width: 20%;
  min-width: 15em;
  position: relative;
  box-shadow: 4px 0 2px 1px #d9d9d9;
  -webkit-box-shadow: 4px 0 2px 1px #d9d9d9;
  -moz-box-shadow: 4px 0 2px 1px #d9d9d9;
  height: 100%;
  overflow: scroll; }
  .fashion .styles .header {
    position: relative;
    padding-left: .5em;
    height: 2em;
    background-color: #ebebeb; }
    .fashion .styles .header h4 {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: translate(0, -50%);
      /* IE 9 */
      transform: translate(0, -50%);
      /* IE 10, Fx 16+, Op 12.1+ */
      -o-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%); }
  .fashion .styles .style {
    padding-left: .5em;
    height: 3em;
    position: relative; }
    .fashion .styles .style h3 {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: translate(0, -50%);
      /* IE 9 */
      transform: translate(0, -50%);
      /* IE 10, Fx 16+, Op 12.1+ */
      -o-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      position: relative; }
    .fashion .styles .style:hover {
      cursor: pointer; }
    .fashion .styles .style.active {
      animation: fadein 0.2s;
      -moz-animation: fadein 0.2s;
      /* Firefox */
      -webkit-animation: fadein 0.2s;
      /* Safari and Chrome */
      -o-animation: fadein 0.2s;
      /* Opera */
      background-color: #3498db; }
      .fashion .styles .style.active h3 {
        color: white; }
  .fashion .styles .style:after {
    content: '';
    width: 50%;
    height: 1px;
    background: gray;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto; }
