/*loading mask*/
#app-loading-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000; }

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s ease-in-out infinite;
  animation: spin 2s ease-in-out infinite; }

.loading-tag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.fadeIn {
  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  /* Firefox */
  -webkit-animation: fadein 0.5s;
  /* Safari and Chrome */
  -o-animation: fadein 0.5s;
  /* Opera */ }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.blurIn {
  animation: blurIn 0.5s;
  -moz-animation: blurIn 0.5s;
  /* Firefox */
  -webkit-animation: blurIn 0.5s;
  /* Safari and Chrome */
  -o-animation: blurIn 0.5s;
  /* Opera */ }

@keyframes blurIn {
  from {
    -webkit-filter: blur(4px);
    filter: blur(4px); }
  to {
    -webkit-filter: 0;
    filter: 0; } }

@-moz-keyframes blurIn {
  /* Firefox */
  from {
    -webkit-filter: blur(4px);
    filter: blur(4px); }
  to {
    -webkit-filter: 0;
    filter: 0; } }

@-webkit-keyframes blurIn {
  /* Safari and Chrome */
  from {
    -webkit-filter: blur(4px);
    filter: blur(4px); }
  to {
    -webkit-filter: 0;
    filter: 0; } }

@-o-keyframes blurIn {
  /* Opera */
  from {
    -webkit-filter: blur(4px);
    filter: blur(4px); }
  to {
    -webkit-filter: 0;
    filter: 0; } }

bar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 1em;
  background-color: #1c1c1f;
  padding: 0 1em; }
  bar .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    bar .container .logo {
      position: relative;
      width: 100%;
      top: 0;
      left: 0;
      padding: 1em 0; }
      bar .container .logo img {
        width: 100%;
        height: auto;
        top: 0;
        left: 0; }
    bar .container .icon {
      position: relative;
      width: 80%;
      height: 0.8em;
      margin: 1em auto;
      opacity: .5;
      padding-bottom: 1em; }
      bar .container .icon.active {
        opacity: 1; }
      bar .container .icon .icon-sym {
        color: white;
        font-size: 30;
        margin: 0;
        position: relative;
        display: inline-block;
        height: 80%;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
        -ms-transform: translate(-50%, 0);
        /* IE 9 */
        transform: translate(-50%, 0);
        /* IE 10, Fx 16+, Op 12.1+ */
        -o-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        width: 100%; }
      bar .container .icon [class^="icon-"]:before, bar .container .icon [class*=" icon-"]:before {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
        -ms-transform: translate(-50%, -50%);
        /* IE 9 */
        transform: translate(-50%, -50%);
        /* IE 10, Fx 16+, Op 12.1+ */
        -o-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%); }
      bar .container .icon p {
        display: none; }

.body-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 3em;
  height: 100%; }

.designs {
  padding-bottom: 5em; }
  .designs .intro {
    width: 100%;
    height: 20em;
    background: url("../images/design-intro.jpg") no-repeat scroll right 0; }
  .designs .container {
    padding: 3em 1em 0 1em;
    margin-bottom: 3em;
    position: relative; }
    .designs .container .title {
      margin: 0 0 1em 0; }
    .designs .container .description {
      color: #3498db;
      padding-bottom: 2em; }
    .designs .container .description::after {
      content: '';
      width: 50%;
      height: 1px;
      background: gray;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto; }
  .designs .projects-container {
    display: table;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%; }
    .designs .projects-container .projects-row {
      display: table-row; }
      .designs .projects-container .projects-row .project {
        display: table-row; }
        .designs .projects-container .projects-row .project img {
          position: relative;
          left: 50%;
          -webkit-transform: translate(-50%, 0);
          /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
          -ms-transform: translate(-50%, 0);
          /* IE 9 */
          transform: translate(-50%, 0);
          /* IE 10, Fx 16+, Op 12.1+ */
          -o-transform: translate(-50%, 0);
          -moz-transform: translate(-50%, 0);
          max-width: 15em;
          max-height: 15em;
          width: 100%; }
        .designs .projects-container .projects-row .project p {
          color: #3498db; }

.blog {
  position: relative;
  padding: 0 1em;
  padding-bottom: 5em; }
  .blog .header {
    width: 100%;
    height: 2em;
    margin: 3em 0 1em 0;
    position: relative; }
  .blog .header::after {
    content: '';
    width: 50%;
    height: 1px;
    background: gray;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto; }
  .blog .entry {
    position: relative;
    margin-bottom: 3em; }
    .blog .entry .entry-header {
      position: relative;
      background-color: #3498db;
      height: auto; }
      .blog .entry .entry-header h3 {
        color: white; }
      .blog .entry .entry-header .title {
        display: block;
        position: relative;
        left: 1em; }
      .blog .entry .entry-header .date {
        display: block;
        position: relative;
        left: 1em; }
    .blog .entry .words {
      padding: 0 2em 0 2em; }

.adventures {
  display: table;
  width: 100%;
  height: 100%; }
  .adventures .adventures-row {
    display: table-row; }
  .adventures .seasons-container {
    height: 100%;
    width: 100%;
    padding-right: 5px;
    display: table-cell;
    vertical-align: top;
    position: relative;
    z-index: 1; }
    .adventures .seasons-container .seasons {
      position: relative;
      box-shadow: 4px 0 2px 1px #d9d9d9;
      -webkit-box-shadow: 4px 0 2px 1px #d9d9d9;
      -moz-box-shadow: 4px 0 2px 1px #d9d9d9;
      height: 100%;
      overflow: scroll;
      margin-right: 5px;
      width: 100%; }
      .adventures .seasons-container .seasons .header {
        position: relative;
        padding-left: .5em;
        height: 2em;
        background-color: #ebebeb; }
        .adventures .seasons-container .seasons .header h4 {
          position: absolute;
          top: 50%;
          -webkit-transform: translate(0, -50%);
          /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
          -ms-transform: translate(0, -50%);
          /* IE 9 */
          transform: translate(0, -50%);
          /* IE 10, Fx 16+, Op 12.1+ */
          -o-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%); }
      .adventures .seasons-container .seasons .season {
        padding-left: .5em;
        height: 3em;
        position: relative; }
        .adventures .seasons-container .seasons .season h3 {
          top: 50%;
          -webkit-transform: translate(0, -50%);
          /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
          -ms-transform: translate(0, -50%);
          /* IE 9 */
          transform: translate(0, -50%);
          /* IE 10, Fx 16+, Op 12.1+ */
          -o-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%);
          position: absolute; }
        .adventures .seasons-container .seasons .season:hover {
          cursor: pointer; }
        .adventures .seasons-container .seasons .season.active {
          animation: fadein 0.2s;
          -moz-animation: fadein 0.2s;
          /* Firefox */
          -webkit-animation: fadein 0.2s;
          /* Safari and Chrome */
          -o-animation: fadein 0.2s;
          /* Opera */
          background-color: #3498db; }
          .adventures .seasons-container .seasons .season.active h3 {
            color: white; }
      .adventures .seasons-container .seasons .season:after {
        content: '';
        width: 50%;
        height: 1px;
        background: gray;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto; }
  .adventures .events-router-container {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .adventures events {
    display: table;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 2;
    position: relative;
    animation: fadein 0.2s;
    -moz-animation: fadein 0.2s;
    /* Firefox */
    -webkit-animation: fadein 0.2s;
    /* Safari and Chrome */
    -o-animation: fadein 0.2s;
    /* Opera */ }
  .adventures .events-container {
    height: 100%;
    width: 100%;
    display: table-cell;
    padding-right: 5px;
    position: absolute; }
    .adventures .events-container .events {
      margin-right: 5px;
      width: 100%;
      box-shadow: 4px 0 2px 1px #d9d9d9;
      -webkit-box-shadow: 4px 0 2px 1px #d9d9d9;
      -moz-box-shadow: 4px 0 2px 1px #d9d9d9;
      height: 100%;
      overflow: scroll; }
      .adventures .events-container .events .header {
        position: relative;
        padding-left: .5em;
        height: 2em;
        background-color: #ebebeb; }
        .adventures .events-container .events .header h4 {
          position: absolute;
          top: 50%;
          -webkit-transform: translate(0, -50%);
          /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
          -ms-transform: translate(0, -50%);
          /* IE 9 */
          transform: translate(0, -50%);
          /* IE 10, Fx 16+, Op 12.1+ */
          -o-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%); }
      .adventures .events-container .events .event {
        padding-left: .5em;
        height: 3em;
        position: relative; }
        .adventures .events-container .events .event:hover {
          cursor: pointer; }
        .adventures .events-container .events .event.active {
          animation: fadein 0.2s;
          -moz-animation: fadein 0.2s;
          /* Firefox */
          -webkit-animation: fadein 0.2s;
          /* Safari and Chrome */
          -o-animation: fadein 0.2s;
          /* Opera */
          background-color: #3498db; }
          .adventures .events-container .events .event.active h1, .adventures .events-container .events .event.active h2, .adventures .events-container .events .event.active h3, .adventures .events-container .events .event.active h4, .adventures .events-container .events .event.active h5, .adventures .events-container .events .event.active h6 {
            color: white; }
        .adventures .events-container .events .event .event-name-container {
          position: absolute;
          top: 50%;
          -webkit-transform: translate(0, -50%);
          /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
          -ms-transform: translate(0, -50%);
          /* IE 9 */
          transform: translate(0, -50%);
          /* IE 10, Fx 16+, Op 12.1+ */
          -o-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%); }
      .adventures .events-container .events .event::after {
        content: '';
        width: 50%;
        height: 1px;
        background: gray;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto; }
  .adventures .presentation-router-container {
    display: table-cell;
    height: 100%;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 0; }
  .adventures .presentation {
    height: 100%;
    position: relative;
    z-index: 3;
    animation: fadein 0.2s;
    -moz-animation: fadein 0.2s;
    /* Firefox */
    -webkit-animation: fadein 0.2s;
    /* Safari and Chrome */
    -o-animation: fadein 0.2s;
    /* Opera */ }
    .adventures .presentation .presentation-header {
      display: none; }
    .adventures .presentation.summer2016losangeles p {
      margin: 0; }
    .adventures .presentation.summer2016losangeles .header {
      position: relative; }
    .adventures .presentation.summer2016losangeles .header::after {
      content: '';
      width: 50%;
      height: 1px;
      background: gray;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto; }
  .adventures summer2016losangeles {
    display: block;
    height: 100%;
    width: 100%;
    overflow: scroll;
    position: relative; }
    .adventures summer2016losangeles .santa-monica img {
      width: 100%;
      height: auto; }
